@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nova+Mono&family=Unica+One&display=swap');

p{
    font-family: 'Unica One', cursive;}
h3{
    font-family: 'Unica One', cursive;}
h2{
    font-family: 'Unica One', cursive;}
.card{}